.characterList {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

/* Adjust the width of each card to create spacing between them */
.characterList .card {
  flex: 0 0 18rem;
  margin-right: 15px; /* Add some spacing between the cards */
}

/* Hide horizontal scrollbar */
.characterList::-webkit-scrollbar {
  display: none;
}

/* Add hover effect on cards */
.characterList .card:hover {
  transform: scale(1.1); /* Add a scaling effect on hover */
}
